{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}


{% block body %}

<div class="">
  <div class="row">
    <div class="col-sm" style="border-style: solid;">
      One of three columns
    </div>
    <div class="col-sm" style="border-style: solid;">
      Rozmawiasz z:

        <div id="messageBox" style="overflow-y: scroll; height:400px;">

        </div>
    </div>
    <div class="col-sm" style="border-style: solid;">
      One of three columns
    </div>
  </div>
</div>




{% endblock %}

